In [1]:
import numpy as np

In [5]:
np.__version__

'1.26.4'

In [6]:
arr = np.array([25,10,20,30,40,50,60])
arr

array([25, 10, 20, 30, 40, 50, 60])

In [7]:
ls  = [25,10,20,30,40,50,60]
arr = np.array(ls)
arr

array([25, 10, 20, 30, 40, 50, 60])

In [8]:
type(arr)

numpy.ndarray

In [9]:
arr.ndim # cheching the dimension of array

1

In [11]:
arr.size # total item in your array

7

In [12]:
len(arr)

7

In [13]:
arr.dtype

dtype('int32')

In [14]:
arr = np.array([25,10,20,30,40,50,60,25.2])
arr

array([25. , 10. , 20. , 30. , 40. , 50. , 60. , 25.2])

In [15]:
arr.dtype

dtype('float64')

In [16]:
arr = np.array([25,10,20,30,40,50,60])
arr

array([25, 10, 20, 30, 40, 50, 60])

In [17]:
arr[2]

20

In [18]:
arr[3:]

array([30, 40, 50, 60])

In [19]:
arr[4:]

array([40, 50, 60])

In [20]:
arr[:-3]

array([25, 10, 20, 30])

In [21]:
arr[-3:]

array([40, 50, 60])

In [25]:
arr[-1:-4:-1]

array([60, 50, 40])

In [26]:
arr[-3:]

array([40, 50, 60])

In [27]:
arr+5 # increment in array +5

array([30, 15, 25, 35, 45, 55, 65])

In [28]:
max(arr)

60

In [29]:
min(arr)

10

In [30]:
sum(arr)

235

In [31]:
np.mean(arr)

33.57142857142857

In [33]:
np.median(arr)

30.0

In [39]:
arr = np.array([25,10,20,30,40,50,60,25,60])
arr

array([25, 10, 20, 30, 40, 50, 60, 25, 60])

In [42]:
mod(arr)

NameError: name 'mod' is not defined

In [36]:
np.random.randint(1,9) #1 to 9

5

In [38]:
arr = np.random.randint(1,450,500)  # array of 500 item in between 1 to 450
arr

array([402,   8,  49,  88, 158, 115,  93, 173, 444, 411, 368, 164,  65,
       157, 385, 423, 387,  92,  49, 236, 308, 239, 324, 416, 182, 230,
       366,  21,  60, 341, 245, 431, 374, 265,  97, 370, 408, 339, 296,
       411,  34,  56, 391,  61, 353,  34, 379, 209,  80,  88, 426, 216,
       304, 116, 445, 423, 376, 248, 136, 147,  78, 252, 278,  59, 284,
       441, 415, 167, 120, 218, 271, 212, 274, 390,  23, 149, 391, 346,
       368, 245, 289, 419, 389, 276,   3, 114, 271,  28, 442, 314, 377,
       396,  92, 207, 292,  15,  95, 303, 440, 108, 320, 179, 365, 161,
       428, 375, 200, 230,  53,  34, 285, 381, 171,  31, 230,  78, 144,
       315, 242, 398,  39,  40, 392,  24, 168, 412,  23, 128, 306, 322,
       222,  72, 418, 163, 406, 151, 112,   6,  25, 137, 364, 196, 160,
       196, 416, 195, 228, 125,  45, 116, 436, 427,  92, 302,  40, 199,
       393,  45, 251,  21, 286,  46, 265,  15, 231, 252, 397, 446, 267,
         7, 351,  36, 365,  85, 262, 264, 328, 352, 157, 146, 206, 422,
       290, 191, 310, 158, 424, 202, 172, 225, 328, 383,  40,  39, 298,
       422, 298,  32, 409,   2, 285, 196,  79, 383, 314, 114, 415, 284,
        81,  72,  96, 315, 284, 227, 345, 113, 101, 127, 302, 271, 407,
       334,   9, 364, 288, 353, 261, 244, 321, 135, 289,  76, 171, 391,
       315, 152, 425, 444, 185,  73, 411, 294, 110, 286, 263, 343,  57,
        24,  25, 405, 329, 150, 205,  35,  85, 118, 417,  49, 268, 294,
       398, 448, 349,  41, 374, 183, 211, 355,  58, 444, 186,   8, 323,
       244, 199, 400, 381, 345, 275, 351, 141, 147, 415,  77,  93,  65,
       221, 168, 222, 380, 173,  63, 314, 154, 441, 316, 400, 297, 276,
       220, 123, 212, 317,   7, 184, 295, 223, 175,  48, 392,   4, 298,
        31, 281, 138, 393, 412, 151, 186, 339,  21,  38, 127, 159,  93,
       130,  32,  44, 196, 216, 186, 293, 357, 224, 437,  37, 103, 313,
       245,  28, 353, 139, 178, 388, 120, 200, 446, 277, 200, 178,  40,
        28, 248, 124, 369, 441,  88, 272,  66, 338, 165, 168, 298,  62,
       230, 313, 220, 341, 216,  69, 420, 392, 262, 422, 361, 255, 152,
       390, 109, 333,  91, 439, 202, 102, 247, 375, 175, 174, 449,  10,
       346, 402, 422, 339, 323, 434, 171,  54, 151, 151, 350, 218,  56,
       140, 345, 366, 276, 384, 327, 395,  79, 420, 393, 395, 123, 302,
       311, 327,  62, 258, 179, 422, 449, 350,  96, 232, 117, 429, 166,
        79, 163,  99,  99,  46, 360, 141, 283, 172, 414, 401, 189, 189,
         3, 314,  19, 271, 399, 408, 431, 147,  49, 305,  31,  50, 112,
       206, 103, 184,  67,  53, 155, 161,  89, 398, 104, 351, 114,  73,
       145,  95, 136, 328, 426, 200, 406, 229, 161, 306, 241,  97,  62,
        99,  87, 169, 372, 377, 111, 445, 404, 265, 261, 268, 446,  68,
       276, 144,  22,  47,  10, 292])

In [43]:
import random ,string

In [44]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [45]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [47]:
string.digits

'0123456789'

In [ ]:
####________________________________________ 2D ARRAY_______________#######

In [4]:
 import numpy as np

In [6]:
ls = [[1,2,3],
      [4,5,6],
      [7,8,9]]

In [8]:
arr2.ndim

2

In [9]:
arr2.shape

(3, 3)

In [10]:
arr2[0]

array([1, 2, 3])

In [11]:
arr2[1]

array([4, 5, 6])

In [12]:
arr2[2]

array([7, 8, 9])

In [13]:
arr2[:1]

array([[1, 2, 3]])

In [14]:
arr2[:2] # ending point not include in  2D array..

array([[1, 2, 3],
       [4, 5, 6]])

In [15]:
arr2[:3]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
arr2[-1] # in array negative index allow

array([7, 8, 9])

In [18]:
arr2[-2
     ]

array([4, 5, 6])

In [19]:
arr2[-3
     ]

array([1, 2, 3])

In [20]:
arr2[1:3,1:3]

array([[5, 6],
       [8, 9]])

In [21]:
arr2[1:3,0:2]

array([[4, 5],
       [7, 8]])

In [24]:
arr2[0:2,1:3]

array([[2, 3],
       [5, 6]])

In [29]:
arr2[-2:,-3:]

array([[4, 5, 6],
       [7, 8, 9]])

In [33]:
arr2[:3,1:]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [34]:
np.ones(10
        )

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [36]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [37]:
np.linspace(1,50,10) # uniform distribution genrate a array in between 1 to 50..

array([ 1.        ,  6.44444444, 11.88888889, 17.33333333, 22.77777778,
       28.22222222, 33.66666667, 39.11111111, 44.55555556, 50.        ])

In [ ]:
#######_____________________________________________3D ARRAY____________________________________________________________________________________________

In [61]:
ls = [[[1, 2, 3], [4, 5, 6], [7, 8, 9]],
      [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
      [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
      [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]
ls

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [62]:
arr3=np.array(ls)
arr3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [63]:
arr3.ndim

3

In [64]:
arr3.shape
#table,rows,volums

(4, 3, 3)

In [65]:
arr3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [68]:
arr3[1]   # single table

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [66]:
arr3[0:2]     # multiple table acess

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [69]:
arr3[0:4,0,:]

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [73]:
arr3[:,-3,:]

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [76]:
arr3[2,1:3,1:3]

array([[5, 6],
       [8, 9]])

In [77]:
arr3[0,1:3,1:3]

array([[5, 6],
       [8, 9]])

In [79]:
arr3[0:4,1:3,1:3]

array([[[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]]])

In [80]:
arr3[:,1:,1:]

array([[[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]]])

In [81]:
arr3[:,-2:,-2:]

array([[[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]],

       [[5, 6],
        [8, 9]]])

In [88]:
arr3[:,2,-1::-1]

array([[9, 8, 7],
       [9, 8, 7],
       [9, 8, 7],
       [9, 8, 7]])

In [89]:
arr3.ravel()  # use to convert multi  into 1D .......

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4,
       5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [91]:
arr3.flatten()  # use to convert multi D into 1D

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4,
       5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9])